:root {
	--button-container-shadow-color: rgba(0,0,0,0.3);
	--button-background-color: #FFFFFF;
	--button-hover-color: #F8F8F8;
	--button-separator-color: #F5F5F5;
	--button-progress-indicator-color: #DDDDDD;
	--button-error-indicator-color: #FF8888;
}

.app-imagery-mode {
	--button-background-color: #222222;
	--button-hover-color: #333333;
	--button-separator-color: #191919;
	--button-progress-indicator-color: #888888;
	--button-error-indicator-color: #AA0000;
}

.map-switch-button-container {
	height: 30px;
	margin-right: 9px;
	border: none;
	border-radius: 8px;
	overflow: hidden;
	background-color: var(--button-background-color);
	box-shadow: 0px 1px 4px var(--button-container-shadow-color);
}

.map-switch-button {
	width: var(--button-width);
	display: inline-block;
	box-sizing: border-box;
	height: 30px;
	padding: 4px;
	background-image: var(--button-background-image);
	background-origin: content-box;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.map-switch-button:hover, .map-switch-button:active {
	background-color: var(--button-hover-color);
}

.map-switch-button:not(:last-child) {
	border-right: solid 1px var(--button-separator-color);
}

.map-switch-button-mapy-cz {
	--button-width: 32px;
	--button-background-image: var(--mapy-cz-button-image);
}
