#map-switch-button-wrapper {
	pointer-events: auto;
}

.map-switch-button {
	display: inline-flex;
	align-items: center;
	gap: 8px;
	padding: 4px 8px;
	color: rgba(1, 30, 57, 0.6);
	font-size: 14px;
}

.map-switch-button .map-switch-button-icon {
	color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	width: 20px;
	height: 20px;
	position: relative;
	margin: 0 2px;
}

.map-switch-button[data-map-switcher-destination="GOOGLE_MAPS"] .map-switch-button-icon {
	top: -1px;
	background-image: var(--google-maps-button-image);
}

.map-switch-button[data-map-switcher-destination="OPEN_STREET_MAP"] .map-switch-button-icon {
	top: 0px;
	background-image: var(--open-street-map-button-image);
}

@media (max-width: 1300px) {
	.map-switch-button-text {
		display: none;
	}
}

