.map-switch-button::before {
	content: "v";
	color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.map-switch-button-google-maps::before {
	width: 20px;
	background-image: var(--google-maps-button-image);
}
